* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  color: white;
}

.logo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.categories {
  display: flex;
  list-style-type: none;
}

.categories li {
  cursor: pointer;
}

.categories li:not(:last-child) {
  margin-right: 25px;
}